<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Admin/Base::layout(~{::section})">
<head>
	<meta charset="UTF-8">
	<title>Tech blog</title>
</head>
<body>
	<section class="margin-class">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-5">
					<div class="card">
						<div class="card-head bg-light p-3 text-center">
							<h3 class="fw-bold heading">Add Admin</h3>
						</div>
						<div class="card-body">
							<!-- alert message starts -->
							<div class="alert alert-success" th:if="${session.successMsg}">
								<p class="text-center fw-bold fs-6">[[${session.successMsg}]]</p>
								<th:block th:text="${@IUserServiceImpl.removeSessionMessage()}"></th:block>
							</div>
							<div class="alert alert-danger" th:if="${session.failMsg}">
								<p class="text-center fw-bold fs-6">[[${session.failMsg}]]</p>
								<th:block th:text="${@IUserServiceImpl.removeSessionMessage()}"></th:block>
							</div>
							<div class="alert alert-warning" th:if="${session.warningMsg}">
								<p class="text-center fw-bold fs-6">[[${session.warningMsg}]]</p>
								<th:block th:text="${@IUserServiceImpl.removeSessionMessage()}"></th:block>
							</div>
							<!-- alert message ends -->
							<form th:action="@{/admin/saveAdminInformation}" method="post" enctype="multipart/form-data">
								<div class="form-group mb-3">
									<label for="fullName">Enter Fullname</label>
									<input type="text" class="form-control" id="fullName" name="fullName" autocomplete="off" required/>
								</div>
								<div class="form-group mb-3">
									<label for="email">Enter Email</label>
									<input type="email" class="form-control" id="email" name="email" autocomplete="off" required />
								</div>
								<div class="form-group mb-3">
									<label for="mobileNumber">Enter Mobile Number</label>
									<input type="number" class="form-control" id="mobileNumber" name="mobileNumber" autocomplete="off" required/>
								</div>
								<div class="form-group mb-3">
									<label for="password">Enter Password</label>
									<input type="password" class="form-control" id="password" name="password" autocomplete="off" required />
								</div>
								<div class="form-group mb-3">
									<label for="image">Upload Profile</label>
									<input type="file" class="form-control" id="image" name="image"/>
								</div>
								<div class="form-group my-3 text-center">
									<input type="submit" value="Save" class="btn btn-fav form-control"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>