<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Admin/Base::layout(~{::section})">
<head>
	<meta charset="UTF-8">
	<title>Tech blog</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row margin-class">
				<div class="col-md-12">
					<h3 class="text-center fs-2 fw-bold text-danger heading">Admin Dashboard</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/addBlog}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-square-plus fa-3x text-primary"></i></p>
								<h4 class="text-primary">Add Blog</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/categories}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-list fa-3x text-warning"></i></p>
								<h4 class="text-warning">Category</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/blogs}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-table-list fa-3x text-success"></i></p>
								<h4 class="text-success">View Blogs</h4>
							</div>
						</div>
					</a>
				</div> 
			</div>
			
			<div class="row">
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/users}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-circle-user fa-3x text-success"></i></p>
								<h4 class="text-success">Users</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/addAdmin}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-user-plus fa-3x text-info"></i></p>
								<h4 class="text-info">Add Admin</h4>
							</div>
						</div>
					</a>
				</div> 
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/admins}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-user-tie fa-3x text-danger"></i></p>
								<h4 class="text-danger">View Admin</h4>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/comments}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-comment fa-3x text-warning"></i></p>
								<h4 class="text-warning">Comments</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/likes}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p><i class="fa-solid fa-thumbs-up fa-3x text-success"></i></p>
								<h4 class="text-success">Likes</h4>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-4 mt-3">
					<a th:href="@{/admin/yourBlogs}" class="text-decoration-none">
						<div class="card">
							<div class="card-body text-center">
								<p class="fa-solid fa-blog fa-3x text-primary"></p>
								<h4 class="text-primary">Your Blogs</h4>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>