<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="User/Base::layout(~{::section})">
<head>
	<meta charset="UTF-8">
	<title>Tech blog</title>
</head>
<body>
	<section class="margin-class">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-head p-3 bg-light">
							<h2 class="text-center fw-bold heading" th:text="${blog.title}"></h2>
						</div>
						<!-- ALERT MESSAGE STARTS -->
						<div class="alert alert-danger" th:if="${session.failMsg}">
							<p class="text-center fw-bold fs-6">[[${session.failMsg}]]</p>
							<th:block th:text="${@IUserServiceImpl.removeSessionMessage()}"></th:block>
						</div>
						<div class="alert alert-warning" th:if="${session.warningMsg}">
							<p class="text-center fw-bold fs-6">[[${session.warningMsg}]]</p>
							<th:block th:text="${@IUserServiceImpl.removeSessionMessage()}"></th:block>
						</div>
						<!-- ALERT MESSAGE ENDS -->
						<div class="card-body">
							<div class="d-flex justify-content-end">
								<p class="me-3">Category : <span class="fw-bold text-primary" th:text="${blog.category}"></span></p>
								<p>Created at: <span class="text-primary fw-bold" th:text="${#dates.format(blog.createdAt, 'dd/MM/yyyy')}"></span></p>
							</div>
							<div th:utext="${blog.content}"></div>
							<th:block th:if="${blog.sampleCode!='no' && blog.sampleCode!=''}">
								<p class="fs-5 text-danger">Sample code</p>
								<div class="border p-2">							
									<div th:utext="${blog.sampleCode}"></div>
								</div>
							</th:block>
							<div class="my-2">
								<a th:href="@{'/user/likePost?userId='+${user.id}+'&blogId='+${blog.id}}" class="btn btn-outline-primary"> <i class="far fa-thumbs-up"></i> <span th:text="${countLikesByBlog}"></span></a>
								<a href="#comment" class="btn btn-outline-success"> <i class="fa-regular fa-comment"></i> <span th:text="${countCommentsByBlog}"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt-2">
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-head p-3 bg-light">
							<h3 class="text-danger fw-bold">Leave Comment</h3>
						</div>
						<div class="card-body">
							<form th:action="@{/user/saveComment}" method="post">
								<div class="form-group mb-3">
									<input type="hidden" th:value="${user.id}" name="userId"/>
									<input type="hidden" th:value="${blog.id}" name="blogId" />
									<label for="comment">Enter comment</label>
									<textarea name="comment" id="comment" cols="" class="form-control" rows="6"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="comment" class="btn btn-fav"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card mb-2" th:each="comm : ${comments}">
						<div class="card-body p-3">
							<img th:src="@{'/images/users/'+${comm.user.profileImageUrl}}" class="img-thumbnail img-fluid profile" alt="profile photo" /> 
							<span th:text="${comm.user.fullName}"></span>
							<p th:text="${comm.comment}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>